.container-home {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    text-align: left;        /* Align text to the left */
    gap: 0.5rem;             /* Optional: spacing between elements */
}

.name-placeholder{
    font-size: 3rem;
}

.position-placeholder{
    font-size: 2rem;
    color: #898585;
    margin-bottom: 0.5rem;
}
.highlight{
    font-weight:  bold;
    color: #f4c430;
}
